.home{
    background-color: #ffffff;
    height: auto;
}
.homeWidgetx{
    margin-top: 4px;
    background-color: #ffffff;
    height: auto;
}
.homeWidget{
    background-color: #ffffff;
    height: auto;
}
.oeeCol{
    padding-right:0.15rem !important;
    padding-left:0 !important;
    padding-top: 0.3rem !important;
}
.qualityCol{
    padding-right:0 !important;
    padding-left:0.15rem !important;
    padding-top: 0.3rem !important; 
}
    
  